.admin-export-filter-container {
  /* width: 428px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* position: absolute; */
  left: -405px;
  background: var(--text-subdued, #fff);
  top: -350px;
  border-radius: 16px;
  height: max-content;
  padding: 32px 24px;
  border: 1px solid var(--border-default, #f2f2f2);
}

.admin-export-send-money-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--border-default, #f2f2f2);
  background: var(--surface-subdued, #fafafa);
  padding: 8px 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.admin-export-send-money-container div p {
  color: var(--text-subdued, #b2b2b2);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.admin-export-send-money-container div h2 {
  color: var(--text-default, #262626);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.admin-export-send-money-container .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-export-filter-container .buttons {
  display: flex;
  height: 48px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
